@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Contact and Statistics";
}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Contact:</h2>
            <p>Aaron Sawyer<br />adsawyer@byu.edu</p>
        </div>
        <div class="col-sm-8">
            <h2>Student Body Statistics</h2>
            <table>
                <tr>
                    <th>
                        Enrollment Date
                    </th>
                    <th>
                        Students
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                        </td>
                        <td>
                            @item.StudentCount
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

