@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome to Contoso University</h1>
        <img id="hero-image" src="~/images/nathan-dumlao-ewGMqs2tmJI-unsplash.jpg" alt="Alternate Text" />
        <p>Photo by Nathan Dumlao on Unsplash</p>
    </div>